@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "./base/typeography";
@import "base/utilities";

@import "./pages/home";

@import "./components/button";

@import"./layout/grid";
@import "./layout/headers";
@import "./components/composition";
@import "./components/feature-box";
//only keep global settings in this file
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


html {
  //defines what one rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

}


@media (max-width: 800px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 5px;
  }
}

@media (max-width: 321px) {
  html {
    font-size: 4px;
  }
}