.row{
    //standard thses days is 1140 px
    //10px = 1 rem

    //max width makes this adaptable
    //if enough width on viewport use what we specifiy
    max-width: $grid-width;
    background-color: #eee;
    //fiigure out our margins
    //left and right margin will be the same
    //use to center blocks inside block element //very common!!
    margin: 0 auto;

    //this selects everything but last child
    &:not(:last-child){
        margin-bottom: $gutter-vertical;

    }

    .col-1-of-2{
        //use #{} for using var within calc
        width: calc((100% - #{$gutter-horizontal})/2);
        background-color: orangered;
        float:left;
        &:not(:last-child){
            margin-right: $gutter-horizontal;
        }

    }
}


//old way 4421
//.row:not()