.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    //we got this based on the polygon 95-75vh
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0; //lots of space is trendy
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)),
        url(../img/nat-4.jpg);
        background-size: cover;

    transform: skewY(-7deg); //could also use clip maybe?
    margin-top: -12rem;

    //child selector - select everything that is a chiuld of section-features

    & > *{
        transform: skewY(7deg); //skew content back so it is horizontal with the page

    }

    //.section-features
}

.section-tours{
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}

.section-stories{
    position: relative;
    padding: 15rem 0;
}

.section-book{
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book{
    //105deg specifies which way we want gradient to go
    //second line 50% cuts gradient in half
    //orange 50% means that at 50% we will have full orange
    //this is like a solid color gradient
    background-image: linear-gradient(105deg, 
                                    rgba($color-white, .9) 0%,
                                    rgba($color-white, .9) 50%,
                                     transparent 50%), url(../../img/nat-10.jpg);
    background-size: 100%; //cover = 100% here
    height: 50rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgab($color-black, .2);

    &__form{
        width: 50%;
        padding: 6rem;
    }
}